.previous_btn{
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}

.input_div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form{
    button{
      margin-top: 10px;
    }
  }
}